<div class="container wrap">
    <div class="col-md-8 col-md-offset-2">
        <div class="block block--white z20">
            <div class="block__header">
                <h1>CencoGOT </h1>
            </div>
            <div class="grid">
                <div class="container-fluid">
                    <div class="col-sm-4">
                        <a class="grid__item" data-toggle="modal" data-target="#houseModal">
                            <h5 class="title">House Targaryen of King's Landing</h5>
                            <h6 class="region">The Crownlands</h6>
                            <p>Fire and Blood</p>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="grid__item" data-toggle="modal" data-target="#houseModal">
                            <h5 class="title">House Targaryen of King's Landing</h5>
                            <h6 class="region">The Crownlands</h6>
                            <p>Fire and Blood</p>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="grid__item" data-toggle="modal" data-target="#houseModal">
                            <h5 class="title">House Targaryen of King's Landing</h5>
                            <h6 class="region">The Crownlands</h6>
                            <p>Fire and Blood</p>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="grid__item" data-toggle="modal" data-target="#houseModal">
                            <h5 class="title">House Targaryen of King's Landing</h5>
                            <h6 class="region">The Crownlands</h6>
                            <p>Fire and Blood</p>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="grid__item" data-toggle="modal" data-target="#houseModal">
                            <h5 class="title">House Targaryen of King's Landing</h5>
                            <h6 class="region">The Crownlands</h6>
                            <p>Fire and Blood</p>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="grid__item" data-toggle="modal" data-target="#houseModal">
                            <h5 class="title">House Targaryen of King's Landing</h5>
                            <h6 class="region">The Crownlands</h6>
                            <p>Fire and Blood</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="houseModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">House Targaryen of King's Landing</h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<div class="bg z10 blur"></div>